@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: rgba(242, 242, 242, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1); 
}

.pade-container {
  margin: 0 auto;
  display: flex;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  flex-wrap: wrap;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  text-transform: uppercase;
}

.view-button-item-current {
  width: 48px;
  min-height: 48px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  list-style-type: none;
}

.view-button-item-card {
  width: 48px;
  min-height: 48px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  list-style-type: none;
}

.view-button-item-list {
  width: 48px;
  min-height: 48px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  list-style-type: none;
}

.navigation-item-menu {
  max-width: 125px;
}

.navigation-item-menu-i {
  max-width: 125px;
}

.hotels-container {
  margin-left: 90px;
  min-width: 1060px;
  justify-content: flex-start;
  list-style-type: none;
  margin-top: 29px;
  margin-left: 65px;
  margin-right: 73px;
}

.hotels-card-title {
  margin-top: 13px;
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.hotels-card-title-i {
  margin-top: 13px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.hotels-card-title-b {
  margin-left: 1px;
  margin-top: 6px;
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.hotels-filter{
  display: flex;
  flex-wrap: wrap;
 }

.grid-container {
  display: grid;
  grid-template-columns: 338px 292px 48px 48px 48px;
  gap: 117px;
  list-style-type: none;
  width: 1200px;
  margin-bottom: -10px;
  margin-left: 74px;
}

.view-buttons {
  display: flex;
  width: 160px;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: -22px;
  margin-left: -11px;
}

.view-button {
  display: flex;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  border: 2px solid rgba(229, 229, 229, 1)
}

.view-button-icon {
  width: 46px;
  height: 46px;
}

.view-button:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.view-button-current {
  border: 2px solid rgba(0, 0, 0, 1);
}

.view-button:focus {
  border: 2px solid rgba(130, 179, 211, 1);
  outline: none;
}

.view-button:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.view-button-icon rect {
  stroke: transparent;
}

.search-hotel-couht {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset (100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  min-height: 64px;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.navigation a {
  display: flex;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 1);
  z-index: 2;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  max-width: 370px;
  margin: 0;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  height: fit-content;
  margin-left: 28px;
}

.navigation-link{
  text-decoration: none;
  font-weight: 700px;
  text-align: center;
  padding: 20px 16px;
  max-width: 113px;
}

.navigation-link:hover {
  background-color: rgba(255, 255, 255, 1);
}

.navigation-link:focus {
  box-shadow: rgba(255, 255, 255, 1);
  outline: none;
}

.navigation-item {
  position: relative;
  max-width: 114px;
}

.navigation-item-i {
  position: relative;
  max-width: 114px;
}

.navigation-bloсk-item {
 width: 44px;
 height: 62px;
}

.navigation-bloсk-link{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
 }

.navigation-bloсk {
  position: static;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  min-height: 64px;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
  align-items: flex-start;
  max-width: 270px;
}

.navigation-icon {
  position: relative;
  top: 1px;
  margin: auto;
  height: fit-content;
}

.navigation-icon .favorites{
  padding: 20px 13px;
}

.navigation-icon .search{
  padding: 20px 13px;
}

.want-here{
  padding-left: 20px;
  padding-top: 14px;
}

.notification-badge {
  display: inline-block;
  width: 20px;
  min-height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 0.6em;
  position: absolute;
  top: 10px;
  margin-left: 19px;
  height: fit-content;
}

.logo {
  display: block;
  margin-left:68px;
}

.logo-text {
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
}

.main-container {
  flex-grow: 1;
  width: 1200px;
}

.main-inner {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-welcome {
  width: 1200px;
  min-height: 485px;
  margin: 0 auto;
  background-image: url("../images/index-background.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-color: rgba(130, 179, 211, 1);
  margin-top: -6px;
}

.hero-welcome-tittle {
  width: 630px;
  text-align: center;
  margin: 0 auto;
  padding-top: 43px;
  padding-bottom: 88px;
  line-height: 36px;
  font-size: 20px;
  margin-left: 284px;
}

.home {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin: 2px -35px;
  padding: 0;
  width: 700px;
}

.hero-welcome::after {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 58px;
  left: 0;
  bottom: -1px;
  z-index: 1;
  background-image: url("../images/triangels.svg");
  background-repeat: no-repeat;
}

.advantages-title-block::after {
  content: "";
  display: block;
  width: 60px;
  min-height: 2px;
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  left: 87px;
  bottom: -30px;
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
}

.advantages-title::after {
    content: "";
    display: block;
    width: 60px;
    min-height: 2px;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    left: 87px;
    bottom: -30px;
    background-color: rgba(255, 255, 255, 0.3);
    background-repeat: no-repeat;
 }
  
.advantages-title-i::after {
  content: "";
  display: block;
  width: 60px;
  min-height: 2px;
  background-color: rgba(0, 0, 0, 1);
  position: relative;
  left: 87px;
  bottom: -30px;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
 }

.advantages-title-i {
  font-size: 24px;
  line-height: 28px;
 }

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin-top: 17px;
}

.advantages-description-s {
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin-top: 37px;
}

.advantages-description-i {
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  margin-top: 38px;
  margin-left: 2px;
}

.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 385px;
}

.infrastructure-item-housing {
  background-image: url("../images/advantage-icon-housing.svg");
  background-position-x: 50%;
  background-position-y: 73px;
  width: 230px;
  min-height: 200px;
  text-align: center;
  background-repeat: no-repeat;
  padding: 60px 85px;
  list-style-type: none;
}

.infrastructure-item-meal {
  background-image: url("../images/advantage-icon-meal.svg");
  background-position-x: 50%;
  background-position-y: 73px;
  width: 230px;
  min-height: 200px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  padding: 60px 85px;
  list-style-type: none;
}

.infrastructure-item-gifts {
  background-image: url("../images/advantage-icon-gifts.svg");
  background-position-x: 50%;
  background-position-y: 73px;
  width: 230px;
  min-height: 200px;
  text-align: center;
  background-repeat: no-repeat;
  padding: 64px 85px;
  list-style-type: none;
}

.infrastructure {
  padding-top: 34px;
  padding-bottom: 46px;
  margin: 0 auto;
  text-align: center;
}

.infrastructure-title-meal,
.infrastructure-title-housing {
  padding-top: 91px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;  
}

.infrastructure-title-gifts {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 18px;
  font-size: 24px;
  padding-top: 96px;
}

.advantages-item-wide {
  display: flex;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  flex-wrap: wrap;
}

.advantages-item-attractions {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 385px;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
 flex-wrap: wrap;
}

.index-columns {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../images/bg-noisy.png");
}

.contacts {
  font-weight: 700;
}

.advantages-image {
  min-height: fit-content;
}

.advantages-item-wide-town {
  display: flex;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(131, 179, 211, 1);
  flex-direction: column;
  text-align: center;
  width: 233px;
  min-height: 200px;
  justify-content: center;
  padding-right: 84px;
  padding-left: 81px;
  padding-bottom: 3px;
  flex-wrap: wrap;
}

.advantages-item-box {
  display: flex;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(131, 179, 211, 1);
  flex-direction: column;
  text-align: center;
  width: 230px;
  min-height: 200px;
  justify-content: center;
  padding-right: 81px;
  padding-left: 84px;
  padding-bottom: 3px;
  flex-wrap: wrap;
}

.advantages-item-square,
.advantages-item-tourist {
  width: 230px;
  min-height: 200px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.12);
  flex-direction: column;
  padding: 92.5px 84px;
  margin: 0;
}

.advantages-item-road {
  width: 230px;
  min-height: 200px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.2);
  text-align: center;
  flex-direction: column;
  padding: 92.5px 85px;
  margin: 0;
}

.advantages-title-block {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 232px;
  min-height: 77px;
  align-self: center;
  margin-top: 21px;
}

.infrastructures-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.infrastructure-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding-top: 7px;
  margin-left: -2px;
}

.infrastructure-description-i {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  margin-top: -9px;
  margin-bottom: 25px;
}

.following-descrition {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.following-descrition-i {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(250, 248, 247);
}

.field-email {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
 }
 
.field-email:hover,
.field-email:focus {
  border-color: rgba(104, 162, 202, 1);
} 

 .field-email:focus {
   outline: 2px solid  rgba(104, 162, 202, 1);
 } 

 .field-email:disabled,
 .field-email:disabled:hover {
   color: rgba(229, 229, 229, 1);
   background-color: rgba(104, 162, 202, 1);
   border-color: rgba(229, 229, 229, 1);
 }

.field-email:invalid {
  box-shadow: none;
}

.field-email:focus:invalid {
  border-color: rgba(255, 87, 87, 1);
}

.field-email::placeholder {
  color: rgb(8, 8, 8);
  opacity: 1;
}

.academy-logo:hover {
  stroke: #756157
}

.academy-logo:focus {
  stroke: #756157
}

.academy-logo:active {
  stroke:  rgba(117, 97, 87, 0.3);
}

.user-email{
  color:  rgba(117, 97, 87, 0.3);
}

.user-email.input[type="text"] { 
  color: red; } 

.search-wrapper {
  width: 592px;
  margin: 0 auto;
  text-align: center;
  padding-top: 93px;
  padding-bottom: 80px;
  padding-left: 304px;
  padding-right: 304px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin-top: -5px;
  margin-left: -1px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  margin-top: -3px;
  margin-left: -5px;
  margin-bottom: 61px;
}

.search-button {
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 50px;
  border-radius: 4px;
  color: rgba(229, 229, 229, 1);
  background-color: rgba(117, 97, 87, 1);
  display: flex;
  width: 276px;
  flex-wrap: wrap;
  margin-left: 107px;
  margin-top: -8px;
  margin-bottom: -9px;
}

.search-button:hover,
.search-button:focus {
  background-color: rgba(97, 80, 72, 1);
  color: rgb(250, 248, 247);
}

.search-button:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgb(250, 248, 247);
}

.search-button:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgb(250, 248, 247);
}

.following {
  width: 1200px;
  background-size: cover;
  background-image: url("../images/mask-group.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(130, 179, 211, 1);
}

.following-i {
  width: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgb(255, 255, 255, 1);
}

.hotels-card-link {
  text-decoration: none;
}

.following-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-transform: capitalize;
  padding-top: 115px;
  margin-bottom: -1px;
}

.following-title-i {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-transform: capitalize;
  padding-top: 97px;
  margin-bottom: -2px;
  color: rgba(255, 255, 255, 1);
}

.hotels-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 5px;
}

.hotels-card-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 4px;
}

.feedback {
  padding-bottom: 100px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 56px;
  margin-left: -2px;
}

.button-submit {
  background-color: rgba(130, 179, 211, 1);
  color: rgb(250, 248, 247);
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border: none;
  padding: 8px 50px;
  text-decoration: none;
  max-width: 232px;
  float: right;
  font-family: "PT Sans", sans-serif;
  border-radius: 0 4px 4px 0;
  height: fit-content;
}

.button-submit:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgb(250, 248, 247);
}

.button-submit:focus,
.button-submit:hover {
  background-color: rgba(104, 162, 202, 1);
  color: rgb(250, 248, 247);
}

.button-submit:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgb(250, 248, 247);
}

.button-hover {
  background-color: rgba(130, 179, 211, 1);
  color: rgb(250, 248, 247);
  text-align: center;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  width: 191px;
  min-height: 36px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  margin-left: -44px;
  margin-top: 33px;
  padding: 9px 50px;
  height: fit-content;
}

.button-hover:focus,
.button-hover:hover {
  background-color: rgba(104, 162, 202, 1);
  color: rgb(250, 248, 247);
}

.button-hover:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgb(250, 248, 247);
}

.button-hover:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgb(250, 248, 247);
}

.button-all {
  background: unset;
  color: rgba(229, 229, 229, 1);
  text-align: center;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  width: 191px;
  min-height: 36px;
  margin-top: 31px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-left: -43px;
  font-family: "PT Sans", sans-serif;
  height: fit-content;
}

.button-all:focus {
  background-color: rgba(97, 80, 72, 1);
  color: rgb(250, 248, 247);
}

.button-all:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgb(250, 248, 247);
}

.button-all:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgb(250, 248, 247);
}

.button-all:hover {
  color: rgba(255, 255, 255, 0.6);
}

.car {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hotels-card-button {
  height: fit-content;
  border: none;
  border-radius: 4px;
  color: rgb(250, 248, 247);
  background-color: rgba(117, 97, 87, 1);
  min-height: 18px;
  width: 106px;
  text-transform: uppercase;
  align-items: center;
  padding: 9px 17px;
}

.hotels-card-button:hover,
.hotels-card-button:focus {
  background-color: rgba(97, 80, 72, 1);
  color: rgb(250, 248, 247);
}

.hotels-card-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(117, 97, 87, 1);
}

.hotels-card-button:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgb(250, 248, 247);
}

.favorites-button {
  height: fit-content;
  border: none;
  border-radius: 4px;
  color: rgb(250, 248, 247);
  background-color: rgba(130, 179, 211, 1);
  min-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 14px;
  width: 106px;
}

.favorites-button:hover,
.favorites-button:focus {
  background-color: rgba(104, 162, 202, 1);
  color: rgb(250, 248, 247);
}

.hotels-card-button-prefer:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
}

.favorites-button:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgb(250, 248, 247);
}

.favorites-button-top {
  height: fit-content;
  border: none;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
  min-height: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 14px;
  width: 105px;
}

.favorites-button-top:hover,
.favorites-button-top:focus {
  background-color: rgba(108, 158, 66, 1);
  color: rgb(250, 248, 247);
}

.favorites-button-top:active {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3); 
}

.favorites-button-top:disabled {
  background-color: rgba(229, 229, 229, 1);
  color: rgb(250, 248, 247);
}

.following-from-name {
  min-height: 100%;
  width: 452px;
}

.following-from-name input {
  min-height: 100%;
  width: 452px;
  gap: 260px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  border-style: none;
  padding: 0 20px;
}

.user-email {
  max-height: 52px;
}

.footer-link {
  display: flex;
  font-size: 14px;
  color: rgba(130, 179, 211, 1);
  margin-top: 19px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  flex-wrap: wrap;
}

.page-footer-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: rgba(130, 179, 211, 1);
  text-transform: uppercase;
}

.footer-contacts {
  display: flex;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  flex-wrap: wrap;
  max-width: 333px;
  margin-top: 19px;
}

input.range-input-min {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  border-radius: 4px 0 0 4px;
}

input.range-input-max {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  border-radius: 0 4px 4px 0;
}

.page-footer-block {
  display: flex;
  width: 1099px;
  min-height: 50px;
  margin-top: 32px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 31px;
}

.page-footer-block-i {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-social {
  font-family: "PT Sans", sans-serif;
  color: rgba(130, 179, 211, 1);
  background-color: rgba(255, 255, 255, 1);
   margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts a {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 40px;
  line-height: 36px;
  font-weight: 300;
  font-family: "PT Sans", sans-serif;
  max-width: 333px;
  text-align: center;
}

.footer-contacts :hover,
.footer-contacts :focus {
  color: rgba(117, 97, 7, 1);;
}

.footer-contacts :active {
  color: rgba(42, 41, 40, 0.3); 
}

.footer-contacts :disabled {
  pointer-events: none;
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.3);
}

.advantages-photo {
  line-height: 0;
}

.advantages-item-wide-photo {
  line-height: 0;
}

.footer-social-list {
  margin-left:auto;
  list-style-type: none;
  display: flex;
  max-width: 142px;
  flex-wrap: wrap;
}

.footer-social-item {
  width: 47px;
  text-align: center;
  display: flex;
  min-height: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;  
}

.footer-social-link {
  align-content: center;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(131, 179, 211, 1);
}

.footer-social-link:hover {
  color: rgba(104, 162, 202, 1);
}

.footer-social-link:focus {
  color: rgba(104, 162, 202, 1);
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.main-inner-header {
  background-image: url(../images/filters.jpeg);
  background-repeat: no-repeat;
  height: fit-content;
  margin-bottom: 66px;
  background-size: cover;
  min-height: 412px;
  background-color:rgba(130, 179, 211, 1);
}

.rating-stars-four {
  display: block;
  width: 203px;
  min-height: 37px;
  background-image: url("../images/star-4.svg");
  background-repeat: no-repeat;
}

.rating-stars-three {
  display: block;
  width: 202px;
  min-height: 37px;
  background-image: url("../images/star-3.svg");
  background-repeat: no-repeat;
}

.rating-stars-two {
  display: block;
  width: 187px;
  min-height: 37px;
  background-image: url("../images/star-2.svg");
  background-repeat: no-repeat;
  padding-left: 18px;
}

.breadcrumbs-item {
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
  display: flex;
}

.breadcrumbs-link {
  color: inherit;
  padding-left: 29px;
  text-decoration: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.control-label {
  font-weight: 400;
  margin-left: 40px;
}

.sorting-container {
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  flex-wrap: wrap;
}

.button-light {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.inner-header-title {
  display: flex;
  font-size: 60px;
  line-height: 78px;
  flex-wrap: wrap;
  padding-top: 29px;
  padding-left: 67px;
  color: rgba(255, 255, 255, 1);
  margin: auto;
  padding-bottom: 15px;
}

.home-link {
  width: 12px;
  min-height: 12px;
  margin-left: 67px;
  margin-top: -2px;
  padding-left: 12px;
  background-image: url("../images/vectorhome.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: fit-content;
}

.breadcrumbs-arrow-link {
  width: 6px;
  min-height: 10px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-weight: 400;
  display: flex;
  padding-left: 11px;
  margin-top: -7px;
}

.hotels-filter-item {
  color: rgba(255, 255, 255, 1);
}

.hotels-filter-title {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 16px;
  max-width: 155px;
}

.hotels-filter-title-h {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 2px;
  max-width: 155px;
}

.hotels-filter-title-c {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-left: 119px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.hotels-filter-list {
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-left: 1px;
  flex-wrap: wrap;
}

.hotels-filter-list{
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.hotels-products {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 42px;
}

.hotels-card-choice {
  display: flex;
  flex-wrap: wrap;
}

.rating-stars-list {
  display: flex;
  flex-wrap: wrap;
}

.favorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.pagination-container {
  display: flex;
  padding: 15px;
  background-color: rgba(255, 255, 255, 1);
  font-size: 20px;
  line-height: 36px;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 54px;
  margin-top: 45px;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  width: 60px;
  min-height: 60px;
  text-decoration: none;
  padding: 11px 22px;
  box-sizing: border-box;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
  height: fit-content;
  display: flex;
}

.pagination-link-i {
  color: rgba(0, 0, 0, 1);
  width: 60px;
  min-height: 60px;
  text-decoration: none;
  padding: 17px 20px;
  box-sizing: border-box;
  line-height: 26px;
  font-size: 22px;
  font-weight: 700;
  border-radius: 4px;
  height: fit-content;
  display: flex;
}

.pagination-link-b {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  width: 60px;
  min-height: 60px;
  text-decoration: none;
  padding: 11px 21px;
  box-sizing: border-box;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
  margin-left: -2px;
  height: fit-content;
  display: flex;
}

.hotels-container::after {
  position: absolute;
  content: "";
  min-width: 1060px;
  border: 1px;
  z-index: 999;
  background-image: url("../images/divider.svg");
  background-color: rgba(230, 230, 230, 1);
  background-repeat: no-repeat;
  min-height: 2px;
  margin-top: 19px;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:focus,
.pagination-link:active {
  outline: 2px solid rgba(130, 179, 211, 1);
  background-color: rgba(104, 162, 202, 1);
}

.pagination-disabled {
  background-color: rgba(229, 229, 229, 1);
}

.pagination-prev,
.pagination-next {
  position: relative;
}

.pagination-current {
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.pagination-show-more {
  margin-left: auto;
}

.pagination-clear {
  margin-top: 24px;
  padding: 0;
  background-color: transparent;
}

.sorting-container {
  width: 292px;
  height: 49px;
  color: rgba(0, 0, 0, 1);
  margin-left: 79px;
  margin-top: -21px;
}

.select-control {
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  appearance: none;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  padding: 12px 17px;
  padding-right: 40px;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.select-control:hover,
.select-control:focus {
  border-color: rgba(104, 162, 202, 1);
}

.select-control:disabled {
  pointer-events: none;
  background-color: rgba(229, 229, 229, 1);
  color: rgba(0, 0, 0, 0.3);
}

.select-control:active {
  border-color: rgba(63, 94, 114, 1);
}

.control {
  position: relative;
  display: flex;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 13px;
  max-width: 100px;
  flex-wrap: wrap;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 4px;
  width: 20px;
  min-height: 19px;
  border: 0 solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.control:hover.control-mark {
  border-color: rgba(255, 255, 255, 1);
}

.control-input:disabled + .control-mark {
  border-color: rgba(255, 255, 255, 1);
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  min-height: 2px;
  background-color: rgba(255, 255, 255, 1);
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(-45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  left: 3px;
  top: 4px;
  width: 10px;
  min-height: 5px;
  border-radius: 1px;
  border-left: 4px solid rgba(63,94, 114, 1);
  border-bottom: 4px solid rgba(63,94, 114, 1);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.control-mark-radio {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 20px;
  min-height: 20px;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 2px;
}

.control-radio {
  position: relative;
  display: flex;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
  max-width: 145px;
  flex-wrap: wrap;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  min-height: 10px;
  border-radius: 50%;
  background-color: rgba(63,94, 114, 1);
  content: "";
 }

.control-input[type="radio"]:focus + .control-mark-radio::before {
  outline: 2px solid rgba(130, 179, 211, 1);
}

.control-input[type="checkbox"]:checked:focus + .control-mark-radio::before {
  outline: 2px solid rgba(130, 179, 211, 1);
}

.control-radio:hover.control-mark-radio {
  border-color: rgba(255, 255, 255, 1);
}

.control-input:disabled + .control-mark-radio {
  border-color: rgba(255, 255, 255, 1);
}

.control:has(:disabled),
.control-mark:has(:disabled){
  pointer-events: none;
}

.control:hover,
.control-mark:hover {
  opacity: 0.6;
}

.control:active,
.control-mark:active {
  opacity: 0.3; 
}

.control-radio:has(:disabled),
.control-mark-radio:has(:disabled){
  pointer-events: none;
}

.control-radio:hover,
.control-mark-radio:hover {
  opacity: 0.6;
}

.control-radio:active,
.control-mark-radio:active {
  opacity: 0.3;
 }

.control:focus-within .control-mark {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.control-input:disabled ~ .control-mark,
.control-input:disabled ~ .control-item {
  pointer-events: none;
  opacity: 0.3;
}

.control-radio:focus-within .control-mark-radio {
  outline: 3px solid rgba(131, 179, 211, 1);
}

.control-radio:hover .control-mark-radio {
  background-color: rgba(255, 255, 255, 1);
}

.control-radio:active .control-mark-radio {
  background-color: rgba(255, 255, 255, 1);
}

.hotels-item {
  width: 296px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(230, 230, 230, 1);
  padding: 20px;
}

.hotels-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: rgba(0, 0, 0, 1);
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.hotels-list img {
  object-fit: contain;
}

.hotels-card-choice {
  display: flex;
  width: 300px;
  min-height: 36px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rating {
  display: flex;
  width: 180px;
  justify-content: center;
  padding-top: 7px;
  flex-wrap: wrap;
  background-color: rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.rating-top {
  display: flex;
  width: 300px;
  justify-content: flex-end;
  padding-top: 16px;
}

.card {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 9px;
  flex-wrap: wrap;
}

.favorites-button button {
  background-color: rgba(130, 179, 211, 1);
}

.search-hotel-couht {
  display: flex;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  max-width: 1060px;
  min-height: 49px;
  margin-left: -5px;
  margin-top: -15px;
}

.hotels-filter-button {
  margin-top: 11px;
  margin-left: 72px;
  max-width: 88px;
  padding: 8px 26px;
  text-decoration: none;
}

.hotels-filter-group {
  margin-left: 39px;
  border: none;
  max-width: 151px;
}

.hotels-filter-group-i {
  margin-left: 38px;
  border: none;
  max-width: 151px;
}

.hotels-filter-group-c {
  border: none;
  max-width: 400px;
}

.range-scale {
  position: absolute;
  min-height: 4px;
  margin-top: 36px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  margin-left: -9px;
}

.range-bar {
  position: absolute;
  min-height: 4px;
  background-color: rgba(255, 255, 255, 1);
  margin-left: 131px;
  margin-top: 7px;
  left: 0;
  width: 226px;
}

.range-bar-crey {
  position: absolute;
  min-height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 37px;
  left: 188px;
  width: 62px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  min-height: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.range-toggle:hover {
  background-color: rgba(255, 255, 255, 1);
}

.range-toggle:active,
.range-toggle:focus {
  outline: none;
  border: 3px solid rgba(131, 179, 211, 1);
 }

 .range-input-min:hover {
  background-color: rgba(255, 255, 255, 1);
}

.range-input-min:active,
.range-input-min:focus {
  outline: none;
  border: 3px solid rgba(131, 179, 211, 1);
 }

 .range-input-max:hover {
  background-color: rgba(255, 255, 255, 1);
}

.range-input-max:active,
.range-input-max:focus {
  outline: none;
  border: 3px solid rgba(131, 179, 211, 1);
 }

.toggle-min {
  top: -8px;
  left: 0;
  border: none;
}

.toggle-max {
  top: -8px;
  right: 1px;
  border: none;
}

.range {
  position: relative;
  box-sizing: border-box;
  display: block;
}

.range-input {
  font-size: 18px;
  font-weight: 700;
  margin-right: 1px;
  padding-left: 21px;
  border: none;
  width: 122px;
  min-height: 48px;
}

.range-input-lable-min {
  position: absolute;
  content: "от";
  top: 15px;
  right: 161px;
  width: 20px;
  min-height: 20px;
  background-size: 20px 20px;
  color: rgba(5, 5, 5, 0.3);
  z-index: 999;
}

.range-input-lable-max {
  content: "до";
  top: 14px;
  right: 20px;
  position: absolute;
  width: 20px;
  min-height: 20px;
  background-size: 20px 20px;
  color: rgba(8, 8, 8, 0.3);
  z-index: 999;
}

.range-box {
  min-height: 4px;
  position: absolute;
  top: 93px;
  width: 287px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  min-height: 48px;
  width: 288px;
  margin-left: 122px;
}

.modal-container {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  flex-wrap: wrap;
}

.modal {
  border-radius: 30px;
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: rgba(255, 255, 255, 1)
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 52px;
  min-height: 52px;
  border-radius: 50%;
  margin-top: 65px;
  margin-right: 51px;
  border: none;
  cursor: pointer;
  z-index: 99;
}

.close-btn-icon path {
  fill: rgba(0, 0, 0, 1);
}

.close-btn-icon:hover circle {
  fill: rgba(255, 255, 255, 1);
}

.modal-close-button:focus {
  background-color: rgba(242, 242, 242, 1);
  outline: 3px solid rgba(130, 179, 211, 1);
}

.modal-close-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  z-index: 1;
  text-wrap: wrap;
  margin-top: 10px;
  color: rgba(0, 0, 0, 1);
  width: 413px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  display: block;
}

.modal-search {
  width: 577px;
  min-height: 448px;
  border-radius: 30px;
}

.modal-content {
  position: relative;
}

.form-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}

.form-message-error {
  color: rgba(255, 87, 87, 1);
  width: 320px;
  margin-left: 158px;
  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.form-message-available {
  color: rgba(0, 0, 0, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-left: 158px;
}

.button-btn {
  display: inline-block;
  text-decoration: none;
  width: 31px;
  height: 20px;
  padding: 14px 10px;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 1);
}

.button-btn:hover {
  background-color: rgba(247, 247, 247, 0.3);
 }

.auth-form-button {
  display: inline-block;
  text-decoration: none;
  width: 577px;
  min-height: 60px;
  transition: 0.2s;
  background-color: rgba(104, 162, 202, 1);
  border: none;
  border-radius: 10px;
  margin-top: -14px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

.auth-form-button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.auth-form-button:focus {
  background-color: rgba(104, 162, 202, 1);
}

.auth-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
}

.auth-form-button:disabled {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.number-control-button {
  display: inline-block;
  text-decoration: none;
  border: none;
  width: 40px;
  min-height: 48px;
  transition: 0.2s;
}

.number-control-button:hover {
  cursor: pointer;
}

.number-control-button:hover path {
  fill: rgba(0, 0, 0, 1);
  fill-opacity: 1;
}

.number-control-button:focus svg {
  border: 3px solid rgba(130, 179, 211, 1);
  fill-opacity: 1;
  fill: rgba(0, 0, 0, 1);
  border-radius: 4px;
}

.number-control-button:focus path {
  fill: rgba(0, 0, 0, 1);
  fill-opacity: 1;
}

.number-control-button:active svg {
  fill-opacity: 1;
  fill: rgba(0, 0, 0, 1);
  border: none;
}

.number-control-button:focus {
  outline: none;
}

.number-control-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form.field-group {
  margin: 0;
  margin-bottom: 16px;
}

.auth-form-user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 577px;
  flex-wrap: wrap;
}

.auth-form-user-options .control-label {
  font-weight: 577px;
}

.field-group-i {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 27px;
  align-items: center;
  flex-wrap: wrap;
}

.field-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 65px;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  flex-wrap: wrap;
}

.field-group-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin-bottom: 48px;
  width: 577px;
}

.form-field {
  padding-left: 19px;
  font-weight: 700;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  font-family: "PT Sans", sans-serif;
  min-height: 48px;
  width: 419px;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
}

.form-field-i {
  padding-left: 20px;
  font-weight: 700;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  font-family: "PT Sans", sans-serif;
  min-height: 48px;
  width: 419px;
  margin-left: 13px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 24px;
  margin-top: -5px;
}

.field-group:after {
  content: "";
  width: 20px;
  height: 20px;
  align-items: center;
  background: url("../images/data.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -65px;
  padding-left: 38px;
  margin-top: -3px;
}

.field-group-i:after {
  content: "";
  width: 20px;
  height: 20px;
  align-items: center;
  background: url("../images/data.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 39px;
  margin-left: -65px;
  margin-top: -3px;
}

.age-title {
  margin-right: 260px;
}

.adults {
  width: 31px;
  height: 48px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.adults-children {
  width: 31px;
  height: 48px;
  border: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
  background-color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.field-group-user-half {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  border-radius: 5px;
  border: none;
  margin-top: 8px;
  padding: 0; 
}

.field-group-user-half-i {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  border-radius: 5px;
  border: none;
  margin-left: 62px;
  margin-top: 5px;
  padding: 28px;
}

.field-group-user-i {
  display: flex;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  width: 110px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.field-group-user-children {
  display: flex;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  width: 110px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.informational text {
  margin: 0;
  padding: 0;
}

.i-circle {
  position: relative;
  display: inline-block;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  line-height: 23px;
  width: 26px;
  height: 26px;
  text-align: center;
  margin-top: 10px;
  border: none;
  margin-left: -18px;
}

.text_center {
  display: flex;
  flex-wrap: wrap;
}

.rectangle {
  width: 37%;
  min-height: 100px;
  margin: auto;
  background: rgba(0, 0, 0, 1);
}

.text_center {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  right: 0;
  width: 256px;
  min-height: 143px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  z-index: 1;
  transition: opacity 0.3s ease;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  margin-top: 15px;
  margin-left: -4px;
  font-family: "PT Sans", sans-serif;
  display: none;
}

.text_center:after {
  position: absolute;
  content: "";
  border: 20px solid transparent;
  text-align: center;
  top: -30px;
  left: 42%;
  border-bottom: 20px solid rgba(0, 0, 0, 1);
}

.i-circle:hover .text_center {
  display: flex;
  position: absolute;
  left: -428%;
  top: 23px;
}

.number-control {
  display: flex;
  justify-content: end;
  position: relative;
  margin-top: 9px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 46px;
  border-radius: 5px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  width: 110px;
  min-height: 50px;
}

.number-control-i {
  display: flex;
  justify-content: end;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-left: 45px;
  border-radius: 5px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  width: 110px;
  min-height: 50px;
  margin-top: 10px;
}

.modal-container-close { 
  display: none;
}

.navigation .btn {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  width: 145px;
  background-color: #756157;
  text-decoration: none;
  line-height: 20px;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: rgba(242, 242, 242, 1);
  justify-content: center;
  align-content: center;
  height: fit-content;
  padding: 8px;
  margin: 0;
}

.btn:hover,
.btn:focus {
  background-color: rgba(217, 98, 24, 0.3);
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(217, 98, 24, 0.3);
}

.btn:disabled {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item-i{
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
  text-underline-offset: 19px;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.navigation-item-i:active {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(117, 98, 87, 1);
}

.navigation-item-manu-i {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
  text-underline-offset: 20px;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.navigation-item-manu-i:active{
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(117, 98, 87, 1);
}

.navigation-link:active {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(117, 98, 87, 1);
 }