@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;

}

html {
  height: 100%;
}


.pade-container {
  margin:0 auto;
  display: flex;
  width: 1200px;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color:#ffffff;

}


.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-button {
  display: flex;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
  color: #151515;
  background-color: #b3997d;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset (100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  padding: 15px 20px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  
}
.navigation a {
  color: #000000;
  background-color: #ffffff;

}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 30px;
}

.navigation-user {
   margin-left: auto;
}



.logo {
  display: block;
  margin: 0 auto;
}


.logo-text {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.main-container {
  flex-grow: 1;
}

 .main-inner {
  color: #000000;
  background-color: #ffffff;
  /*background-image: url("./images/index-background.jpg");*/
  background-size: 100% auto;
  /* ЧТОБЫ НЕ ИСКАЖАЛАСЬ КАРТИНКА */
  background-repeat: no-repeat;
  /* ОТКЛЮЧИМ ЗАПОЛНЕНИЕ ВСЕГО ПРОСТРАНСТВА КАРТИНКОЙ */
 /*text-align: center;
  /* ЦЕНТРИРУЕМ ТЕКСТ */
}

.hero-welcome {
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.hero-welcome-tittle{
  text-align: center;
}
.infrastructure-list {
  display: flex;
  justify-content: space-between;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  margin: 0;
  padding: 0;
}

.infrastructure-item-housing {
  background-image: url("../images/advantage-icon-housing.svg");
  width: 400px;
  height: 385px;
  text-align: center;
  background-repeat: no-repeat;
  margin-top: 130;
}

.infrastructure-item-meal {
  background-image: url("../images/advantage-icon-meal.svg");
  width: 400px;
  height: 385px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  margin-top: 130;
}

.infrastructure-item-gifts {
  background-image: url("../images/advantage-icon-gifts.svg");
  width: 400px;
  height: 385px;
  text-align: center;
  background-repeat: no-repeat;
  margin-top: 130;
}

.infrastructure {
 
  text-align: center;
}



.advantages-item-wide{
display: flex;
 text-align: center;
}
.advantages-item-attractions {
  display: flex;
  text-align: center;
  margin: auto;
  padding: 0;
}


.advantages-item {
  display: flex;
}


.container-search {

  color: #242424;
  background-color: #fbf7f4;
  text-align: center;
}


/* List */
/* преимущества */
/*.advantages-list {

  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}*/

/* Index columns */
.index-columns {
  color: #242424;
  background-color: #ffffff;
  background-image: url("../images/bg-noisy.png");
}

.contacts {
  font-weight: 700;
}

.navigsearch-button {
  display: flex;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
  background-color: #756157;
}


.advantages-item-wide-town,
.advantages-item-box {
  display: flex;
  color: #ffffff;
  background-color: rgba(131, 179, 211, 1);
  flex-direction: column;
  text-align: center;
}


.advantages-item-square,
.advantages-item-tourist {

  width: 400px;
  height: 385px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  flex-direction: column;
}

.advantages-item-road {

  width: 400px;
  height: 385px;
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  text-align: center;
  flex-direction: column;
}


.advantages-title {
padding-top: 112px;
padding-right:112px;
padding-left:112px;
font-family: "PT Sans";
font-size:24px; 
line-height:28px; 
text-transform:uppercase;

width: 100px;
align-self: center;
}



.search-button {
  text-decoration: none;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.search-button {
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgba(117, 97, 87, 1);
  text-align: center;
}

.following {
  width: 1200px;
  height: 415px;
  background-image: url("../images/mask group.jpg");
  background-repeat: repeat;
  text-align: center;
  color: #ffffff;
}

.footer-link .htmlacademy-link {
  font-size: 14px;
  color: #000000;
}

.page-footer-title {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

}

.footer-contacts {
  font-style: normal;
}

.page-footer a {
  color: #807c7c;
}


.footer-contacts-address p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.footer-social {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  text-decoration: underline;
  text-transform: uppercase;
}

.footer-contacts a {
  color: #000000;
  background-color: #ffffff;
}

.footer-link a {
  color: #000000;
  background-color: #ffffff;
}


.page-footer {
  text-align: center;

}

.footer-sfooter-social-item {
  background-image: url(../images/social.svg);
  color: #181875;
  background-color: #b01556;
  background-repeat: no-repeat;
  width: 24px;
  height: 14px;
}

.inner-header-title {
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
}

.hotels-list-right-column {
  display: flex;
}

.page-container {
  background-image: url(../images/filters.jpeg);
  background-repeat: no-repeat;
  






}

/* Breadcrumbs */
.breadcrumbs {
  color: #242424;
}

/* Link */
.breadcrumbs-link {
  color: inherit;
}

/* Title */
.catalog-filter-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/* Label */
.control-label {
  font-weight: 700;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
}

/* Light */
.button-light {
  color: #242424;
  background-color: #ffffff;
}

/* Item */
.product-card {
  background-color: #ffffff;
}

/* Link */
.product-card-link {
  text-decoration: none;
}

/* Title */
.product-card-title {
  font-weight: 700;
  color: #000000;
}

/* Price */
.product-card-price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
         
.hotels-filter-item {
  color: #ffffff;
}
.hotels-item {
  margin: 56px;
}
.hotels-filter-title{
  color: #ffffff;
}

.hotels-filter-list {
  color: #ffffff;
}

.hotels-products {
  display: flex;
}

.catalog-filter {
  width: 220px;
  margin-right: 20px;
}


.pagination-container {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}


.pagination-link {
background-color: #78a8d9;
    color: #ffffff;
    width: 50px;
    height: 44px;
    display: block;
    text-decoration: none;
    padding: 14px 20px;
    box-sizing: border-box;
    line-height: 16px;
    font-weight: 700;
  }

  .pagination-current {
    background-color: #ffffff;
    color: #95c4eb;
  }
  
  .pagination-prev,
  .pagination-next {
    position: relative;
  }
  
  .pagination-disabled {
    background-color: #95c4eb;
  }

  .pagination-show-more {
    margin-left: auto;
  }

  .pagination-clear {
    margin-top: 24px;
    padding: 0;
    background-color: transparent;
  }







.hotels-list {
    
  color: #000000;
  background-color: #f9fafb;
  width: 1200px;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style-type: none; 
}

.search-hotel-couht {
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.container {
  margin: 0 auto;
  width: 960px;
}